@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;700;900&display=swap");
:root {
  --nb_fondo: #2c1f47;
  --nb_letras: #ffffff;
  --nb_selected: #5a4094;
  --loading-grey: #ededed;
  --main_background: #FFFFFF;
  --pika_cursor: url(assets/mouse2.png);
  --ball_cursor: url(assets/mouse.png);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}
.body{
    overflow: hidden;
}
#barra_navegacion {
  font-weight: 900;
  width: 100%;
  height: 10vh;
  background: var(--nb_fondo);
  position: fixed;
  z-index: 100;
}
.contenedor_bn {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bn_logo {
  display: flex;
  margin-left: 5%;
  color: var(--nb_letras);
}
.nombre_logo {
  font-size: 20px;
  font-weight: 900;
  text-decoration: none;
  color: var(--nb_letras);
}
.creador_logo {
  font-size: 10px;
  margin-left: 10px;
  letter-spacing: 2pt;   
  display: flex;
  align-items: flex-end;
}
.bn_lista {
  display: flex;
  width: 50%;
  gap: 125px;
  margin-right: 5%;
}
.bn_lista a {
  text-decoration: none;
  color: var(--nb_letras);
  padding: 10px 30px;
}
.bn_lista a:hover {
  background: var(--nb_selected);
  border-radius: 25px;
  cursor: var(--ball_cursor), auto;
}
.portada {
  height: 100vh;
  background: url(assets/fondo.svg) no-repeat center center fixed;
  background-size: cover;
}
.introduccion {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--nb_letras);
  cursor: var(--pika_cursor), auto;
}
.informacion{
    padding-top: 10vh;
    margin: 20px 50px;
}
.informacion h1 {
  font-weight: 900;
  margin-bottom: 15px;
}
.informacion a {
  color: var(--nb_letras);
  cursor: url(assets/mouse.png), auto;
}
.img {
  height: 250px;
  gap: 3.5vw;
  overflow: hidden;
  display: flex;
  justify-self: center;
  z-index: 0;
}
.img h4 {
  text-align: center;
  font-size: 25px;
  letter-spacing: 5pt;   
  margin-top: 5px;
}
.imagenes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagenes img {
  height: 200px;
}
main{
    width: 100%;
    padding: 50px;
    background: var(--nb_fondo);
}
.titulo{
  font-size: 60px;
  letter-spacing: 30px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}
.lista_pokemon{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px 35px; 
}
.carta{
  width: 300px;
  height: 400px;
  border: 2px solid var(--nb_fondo);
  box-shadow: 0 0 5px rgb(0,0,0);
  border-radius: 35px;
}
.carta .imagen{
  display: flex;
  justify-content: center;
}
.img_pokemon{
  margin-top: 25px;
  width: 200px;
  height: 200px;
}
.carta .datos{
  margin-top: 10px;
  padding: 20px;
  font-size: 20px;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.datos .nombre{
  font-weight: 900;
  letter-spacing: 5px;
  text-align: center;
}
.datos .id{
  font-weight: 600;
  text-align: center;
  background: var(--nb_selected);
  padding: 5px 10px;
  border-radius: 25px;
  color: white;
  cursor: var(--ball_cursor), auto;
}
.tipos{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.tipos span{
  padding: 5px 20px;
  border-radius: 25px;
  border: 2px solid var(--nb_fondo);
  box-shadow: 0 0 10px rgb(0,0,0);
  color: white;
  font-weight: 900;
}
.placeholder{
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #b3b3b3;
  background: linear-gradient(to right, rgba(237, 166, 247, 0.371), #ccc);
  background-size: 200% 100%;
  border-radius: 25px;
  animation: anmBg 1s linear 3;
}
@keyframes anmBg {
  to {
    background-position: -170% 0;
  }
}