@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;500;700;900&display=swap");
:root {
  --hearder_fondo: #2c1f47;
  --header_letras: #ffffff;
  --nb_selected: #5a4094;
  --verde: #e84545;
  --main_background: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
}
body{
    background: var(--hearder_fondo);
}
header {
    width: 100vw;
    position: fixed;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(241, 241, 241);
}
::-webkit-scrollbar-thumb {
  background-color: var(--hearder_fondo);
}
.navbar{
    padding: 20px;
    width: 100%;
    height: 10vh;
    color: var(--header_letras);
    position: fixed;
    display: flex;
    align-items: center;
    background: var(--hearder_fondo);
}
.lista{
    width: 100%;
    margin-left: 15px;
    gap: 15px;
    display: flex;
    justify-content: flex-end;
}
.lista a{
    font-weight: 900;
    text-decoration: none;
    color: var(--header_letras);
}
.buscador{
    height: 30vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.contenedor{
    margin: 10px;
    text-align: center;
    width: 100vw;
}
.contenedor .titulo{
    font-size: 30px;
    letter-spacing: 10px;
    font-weight: 900;
    text-decoration: none;
    color: var(--header_letras);
}
.contenedor .descripcion{
    font-size: 15px;
    padding: 15px 0;
    font-weight: 500;
    color: var(--header_letras);
}
.grupoBotones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.grupoBotones input[type="text"]{
    width: 420px;
    height: 25px;
    padding: 0 13px;
    font-size: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    font-weight: 500;
    text-align: center;
}
.grupoBotones button{
    height: 25px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0 5px ;
    background: var(--verde);
    color: var(--header_letras);
    border: none;
}
.grupoBotones button:hover{
    cursor: pointer;
}
.pokemon{
    padding-top: 20px;
    margin: 0 15%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.carta{
    max-width: 1000px;
    border-radius: 15px;
    background: var(--nb_selected);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.85);
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.poke-imagen{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.poke-imagen img{
    width: 400px;
    height: 400px;
}
.informacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px 0 0;
}
.poke-datos{
    margin-top: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
}
.poke-datos .nombre, .poke-datos .id{
    padding: 3px 5px;
    border-radius: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.poke-tipos{
    margin-top: 15px;
    gap: 50px;
    display: flex;
    justify-content: center;
}
.poke-tipos span{
    border: 2px solid white;
    padding: 3px 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tipo{
    padding: 3px 5px;
    border-radius: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.poke-descripcion{
    margin:15px;
    font-size: 18px;
    text-align: justify;
}
.grupoStats{
    padding: 3px;
}
.poke-stats{
    margin: 0px 20px 20px 20px;
    font-size: 13px;
}
.stats{
    display: flex;
    width: 100%;
}
.titulo-stat{
    width: 50%;
    margin-right: 5px;
    font-size: 17px;
    font-weight: 700;
}
.valor-stat{
    width: 50%;
    margin-right: 5px;
    font-size: 17px;
    font-weight: 500;
    text-align: right;
}
progress{
    width: 100%;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;
}
 progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 15px;
}
progress::-webkit-progress-value {
    background-color: #8af8f3 !important;
    border-radius: 15px;
}
progress::-moz-progress-bar {
    background-color: #8af8f3 !important;
}

@media (max-width: 1000px) and (min-width: 781px) {       
    .poke-imagen img{
        width: 250px;
        height: 250px;
    }
    .poke-imagen{
        width: 60%;
    }
}

@media (max-width: 780px) {
    .grupoBotones input[type="text"]{
        width: 80%;
    }
    .pokemon{
        overflow: hidden;
    }
    .carta{
        flex-direction: column;
    }
    .poke-imagen{
        width: 100%;
    }
    .poke-imagen img{
        width: 150px;
        height: 150px;
    }
    .poke-descripcion{
        font-size: 13px;
    }
    .poke-datos .nombre, .poke-datos .id{
        font-size: 15px;
    }    
    .poke-tipos span{
        font-size: 15px;
    }
    .titulo-stat{
        font-size: 13px;
    }
    .valor-stat{
        font-size: 13px;
    }
    .pokemon{
        margin: 15px;
    }
    
}